.filter {
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 0.2rem 0;
}

.filter-button button svg {
    width: 2rem;
}

.filter-button button svg path {
    fill: $secondary-color;
}

.filter-button button:hover svg path {
    fill: $hover-color;
}