.filter {
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    min-height: 2rem;
    max-height: 0rem;
    top: 0;
    transition: opacity 0.3s, visibility 0.3s;
    width: 100%;
    z-index: $z-index-modal-filter;
}

.filter.active{
    opacity: 1;
    visibility: visible;
}
  
.filter-content{
    background-color: $primary-color;
    border: 0.2rem solid hsl(0, 0%, 100%);
    box-shadow: 5px 10px 19px 2px rgba(175, 162, 162);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: 500px;
}

.filter-header{
    padding: 0.5rem 1rem;
}

.filter-header h2{
    text-align: center;
}

.filter-form form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-footer{
    display: flex;
    gap: 2rem;
}

.table-filter-button.confirm-filter{
    background-color: $green-color;
}

.table-filter-button.cancel-filter{
    background-color: $red-color;
}

.table-filter-button button{
    color:hsl(0, 0%, 100%);
    font-weight: 600;
    padding: 0.5rem 1rem;
    text-align: center;
}

.filter-button button svg {
    width: 2rem;
}

.filter-button button svg path {
    fill: hsl(207, 85%, 69%);
}

.filter-button button:hover svg path {
    fill: hsl(34, 79%, 53%);
}