.table {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
}

.table-buttons {
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 0.2rem 0;
}
  
.table-button button svg {
    width: 2rem;
}
  
.table-button button svg path {
    fill: $secondary-color;
}
  
.table-button button svg path {
    fill: $hover-color;
}

.table-record-buttons {
    background-color: $secondary-color;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

.edit-button button svg,
.destroy-button button svg {
    width: 2rem;
}

.edit-button button svg path,
.destroy-button button svg path {
    fill: hsl(0, 0%, 100%);
}

.edit-button button:hover svg path,
.destroy-button button:hover svg path {
    fill: $hover-color;
}

.table-data {
    background-color: $tertiary-color;
    padding: 0.5rem;
}

.table-data ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.table-data ul li span {
    font-weight: 700;
}

.table-data ul li span::after {
    content: ":";
    margin-right: 0.5rem;
}