//z-index
$z-index-modal-filter: 3000;
$z-index-modal-destroy: 3000;
$z-index-tooltip: 2000;
$z-index-menu-button: 1001;
$z-index-menu: 1000;

//typography
$font-stack: 'Roboto', sans-serif;
$font-stack-condensed: 'Roboto Condensed', sans-serif;

//colors
$primary-color: hsl(226, 63%, 45%);
$secondary-color: hsl(207, 85%, 69%);
$tertiary-color: hsl(226, 64%, 66%);
$hover-color: hsl(34, 94%, 51%);
$red-color: hsl(0, 65%, 55%);
$green-color: hsl(183, 98%, 35%);